
p, label{
    font-size: 12px;
    color: grey;
}

p{
margin: 5px 0;
}

h5{
    color: grey;
}

#formText{
    margin: 0 auto;
}

#mainTitle{
  color: grey;
  border-bottom: 1px solid rgb(209, 201, 201);
  width: 440px;
}

.box{
    border: 1px solid rgb(243, 237, 237);
    border-bottom: none;
    border-top-right-radius: 20px;
    background: linear-gradient(white, #F5EAEA);
    padding: 15px;
    float: right;
}

#formDiv{
        width: 350px;
        height: 385px;
        margin-top: 10px;
    }


form > div{
    margin: 5px;
}

form{
    width: 250px;
    margin: 10px auto;
}

form > div > input{
    float: left;
}

form > div > label{
    float: right;
}

textarea{
    height: 100px;
    width: 98%;
}

#submitbutton{
    border-top-right-radius: 7px;
    text-align: center;
    border: 1px solid rgb(209, 202, 202);
    margin-left: 5px;
    float: left;
    height: 25px;
    width: 70px;
    background: linear-gradient(rgb(124, 124, 221), rgb(43, 43, 168));
}

h4{
    color: rgb(82, 82, 165);
}


.smallDiv{
    width: 290px;
    height: 175px;
    margin: 0 80px 35px 0;
}

.smallDiv > h4{
    border-bottom: 1px solid #B8B0B0; 
    margin: 5px 0;
}
